#wrapper
  %header.page-head
    %h1 Subpreme
    / %nav
    /   %ul
    /     %li Menu
    = simple_form_for @user, :url => signup_path do |form|
      = form.label :email, 'Email'
      = form.text_field :email
      = form.submit 'Subscribe'

  %section
    %article#pimp-1
      %header
        %h2 Rad Article about Adrian
        %p
          Some shiz
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    %article#pimp-2
      %header
        %h2 Rad Article about Doug
        %p
          Some shiz
      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    %article#about-us
      %header
        %h2 About section
        %p
          Some shiz
        %p Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

  %footer
    %h2 Footer Yo!
    %p Copyright 2013 Age &amp; Doug
